* {   /* informa que essas alterações são para todas as tags possiveis */
    margin: 0;
    padding: 0;
}
html, body {
    font-family:'Radley', serif;
    height: 100%;
}
body {

    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(26,40,119,1) 100%);
}
.avatar {
    
    width: 100px;
    border-radius: 50px;
    border: 2px solid white ;
    box-shadow: 0 0 20px white ;
 }
h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    font-weight: 100;
}
h2 {
    font-size: 20px;
    font-weight: 100;
}
.profile {
    margin: 20px ;
    text-align: center;
}
.social {
    display: flex; /* faz com que a lista ao inves de ficar um item embaixo do outro
                      fique um do lado do outro */
    justify-content: space-between; /* da um espaçamento entre os itens da lista */
    list-style: none; /* altera  a forma da bolinha dos itens */
    margin: 20px 0;
    padding: 10px;
}
.social img {
    width: 50px;
}
.links-list li{
    
    background: white;
    border: 2px solid white;
    margin:0 10px 10px 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    height: auto;
}
.links-list a{
    text-decoration: none;
}
.links-list li a h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;

}
.links-list li a span{
    display: block;
    color: gray;
    margin: 5px;
}
