body {
    background: rgb(243, 214, 214);   
    font-family: 'Roboto', sans-serif;
    color: #5f5f5f;
    margin: 0;
    
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.profile {
    text-align: center;
}
.social-icon{
    width: 20px;
}
.social-link{
    text-decoration: none;
}
.github{
    margin: 0 15px 0 15px;
}
h1 {
    margin: 0 auto;
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(59, 59, 59);
    font-weight: 100;
    letter-spacing: -1;
}
h4 {
    margin-bottom: 0;
}
h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}
.foto {
    border: 5px solid #ffffff; /* shorthand*/
    border-radius: 50%;
    /*margin-top: 30px;*/
    margin: 30px 30px 0 30px;
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */

    box-shadow: 3px 3px 2px black;
}
.jobs-list {
    list-style: none;
    padding-left: 20px;
}

footer {
    margin-top: 40px;
    color: white;
    text-align: center;
    padding:  0 auto;
    background-color: rgb(51, 51, 51);
}